﻿/***********************************************************/
/*	ZNode Storefront Stylesheet
/*	Copyright 2004-2009, www.znode.com, All Rights Reserved.
/***********************************************************/

/**************************************************/
/* CSS RESET                                  
/**************************************************/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/**************************************************/
/* PAGE SECTIONS                                  
/**************************************************/
#Container {
	width: 1136px;
	background-color: #ffffff;
	padding-bottom: 0px;
	text-align: left;
	margin: 0px auto;
}
#Header { height: 55px; padding: 5px; text-align: left; }
#BreadCrumb {text-align: left; vertical-align: middle; background-color: #E2E2E2;padding:1px 5px 2px 5px;font-size: 11px;font-family:Arial;font-weight:bold;}
#ctl00_ctl00_MainContent_BREAD_CRUMBS_lblPath{padding-top:7px;}
#LeftColumn { margin-top: 0px;width:235px; background: #f2f2f2; padding-bottom: 1px; overflow:hidden; float: left;}
.leftcolumn_bnd{background:#f2f2f2;}
#RightColumn{float:right; width:699px; float: left; padding-left:20px;}          
#PromotionTitle { color: #cb5d2a; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 15px; font-size: 9pt; font-family: verdana; }
#SeperateColumn {border:none;}
#MiddleColumn {padding-left: 21px;margin-top:1px;width:694px; overflow:hidden;float: left;}
#MiddleColumn h1{padding-top:19px;}
#MiddleColumn .Field{ margin-top:10px; margin-bottom: 5px; }
#ContentColumn { padding-top: 10px; padding-right: 25px; padding-left: 25px; padding-bottom: 25px; margin-bottom: 1px; margin-left: 1px; border-bottom: 1px solid #C0C0C0;}
#Footer { padding-right: 5px; padding-left: 5px; padding-bottom: 10px; padding-top: 10px; border-right-style: none; border-left-style: none; border-bottom-style: none; background-color: White; border-top: #666666 4px solid; margin-bottom: 0px; margin-top:0px; }
#CustomerService { font-size: 8pt; color: #696969; margin-right: 0px; margin-bottom: 5px; margin-top:10px; font-weight: normal; padding-bottom:15px; padding-left:10px; }
#PoweredByZNode{ float:none; margin:10px; text-align:center; }
#QuickNavigation {margin-top:5px; margin-bottom:5px; padding-bottom: 10px;}
#QuickNavigation a, #ctl00_ctl00_MainContent_BREAD_CRUMBS_lblPath {font-family:Arial,Helvetica,Sans-Serif; font-size:12px;}

/**************************************************/
/* Container SECTIONS
/**************************************************/
#Container .TableContainer { width:673px; font-family: Arial; font-size: 12px;}
#ctl00_ctl00_MainContent_uxCart_uxCart_uxCart{width:673px;}
#Container .TableContainer .ClearImageLeft{ width:150px; height:1px; }
#Container .TableContainer .ClearImageRight{ width:600px; height:1px; text-align:left; }
#Container .PluginContainer { width:810px; }
#Container .ContentContainer { width:694px;margin-top:20px; float: left;}

/**************************************************/
/* Error Page Styles
/**************************************************/
#ErrorContainer { font-family:Arial; width:760px;}
#ErrorContainer .Text{ color:#ff0000;font-size:13px; margin-bottom:13px; margin-left:10px;  margin-right:10px; }
#ErrorContainer .Description { margin-bottom:20px; margin-left:10px; margin-right:10px }
#ErrorContainer A:link {color:Blue;font-size:13px;text-decoration:underline;}
#ErrorContainer A:Visited {color:Blue;font-size:13px;text-decoration:underline;}
#ErrorContainer A:hover {color:Blue;font-size:13px;text-decoration:underline;}

/**************************************************/
/* GLOBAL STYLES                                 
/**************************************************/
body{color:#454744; font-family: Arial; font-size:100%;}

h1, h2, h3, h4 {}
h1 { margin:0px; padding:0px; font-family: Arial; color: #474544; font-size: 20px; padding-top:0px; padding-bottom:0px; padding-left:0px; }
h2 { font-size: 16px; margin-bottom: 5px;}
h3 { font-size: 13px; margin-bottom: 5px; font-weight:bold; color: #474544;}
h4 {}
h5 { font-size: 13px; margin-bottom: 5px; font-weight:bold; color: #474544;}
hr { border: 0; width: 100%; color: #C74E46; height: 1px; }
a:link {color: #333333; }
a:Visited {color: #333333; }
a:Hover {color: #C64E46;}
p { font-size: 8pt; }
p.ati_terms, p.ati_terms small{font-size:12px; font-style: italic;}
big { font-size: 10pt; }
small { font-size: 7pt; }
.Error { font-weight: bold; color: #ff0000; font-size: 11px; margin-bottom: 5px; margin-top: 5px; margin-left: 5px; }
.FailureText {color:Red;}
.Success{ font-weight: bold; color: Green; font-size: 13px;  white-space:pre; background-image: url(../../Images/icons/check.png); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 10px; margin-top: 5px; }
.Optional {font-weight: bold; color:  Blue; font-size: 13px; white-space:pre;  background-image: url(../../Images/icons/warning_small.gif); background-repeat: no-repeat; padding-left: 15px; margin-bottom: 10px; margin-top: 5px; }
.AddOnMessage { color: #cb5d2a; font-size:11px; }
.ProductPageNewItem {text-align:right;position:relative;bottom:145px;right:2px;}
.NewItemStyle {position:relative;bottom:12px;left:60px;}
.PluginMessage{ margin-left:10px; font-size:12px; font-weight:normal; font-family:Verdana; text-align:left;}
.HtmlContent{ margin-bottom:2px;}
.font {font-size: 12px; font-family: Arial;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxPayment_pnlPayment .FormTitle{width: 643px;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxPayment_lblBillingAddress, #ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxPayment_lnkEditBilling, #ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxPayment_pnlCreditCard a, .Form label { font-family: Arial; font-size: 12px;}
img.homepage_images {border: double 4px #cccccc; margin-bottom: 10px;}
.margin_top {margin-top: 20px;}
.margin_top p {text-align: left;}
div.Head{background: #F2F2F2;}
div.SubHead, div.SubHead1{color: #333333; display: block;}
.OrderReceipt{font-family:Arial; font-size: 12px; display:block; width:600px;}
.OrderReceipt h2{font-size:16px;}
.OrderReceipt td{padding:4px;}
input#ctl00_ctl00_MainContent_uxSearch_txtKeyword, input#ctl00_ctl00_MainContent_uxForgotPassword_PasswordRecoveryWizard_ctl05_Email, input#ctl00_ctl00_MainContent_uxForgotPassword_PasswordRecoveryWizard_ctl05_UserName ,input.TextField, div#ctl00_ctl00_MainContent_CustomerFeedback1_pnlContact textarea,select {border:solid 1px #404040; margin-bottom:2px;}
input#ctl00_ctl00_MainContent_CustomerFeedback1_txtname, input#ctl00_ctl00_MainContent_CustomerFeedback1_txtcity, input#ctl00_ctl00_MainContent_CustomerFeedback1_txtstate, input#ctl00_ctl00_MainContent_CustomerFeedback1_txtemail, input#ctl00_ctl00_MainContent_CustomerFeedback1_chkPublish  {border:solid 1px #404040; margin-bottom:2px;}

/***************************************************/
/* STORE LOCATOR
/***************************************************/
.StoreLocator {margin-bottom:20px;}
.StoreLocator .SearchContent { background-color: #EFF3F6; padding-left: 10px; width: 440px; margin-bottom: 10px; border-right: #d0e3ec 1px solid; border-top: #d0e3ec 1px solid; border-left: #d0e3ec 1px solid; border-bottom: #d0e3ec 1px solid; }
.StoreLocator .SearchContent table {margin-left:10px;margin-top:15px;}
.StoreLocator .Row { padding-bottom: 10px; }
.StoreLocator .FieldStyle {vertical-align:top;display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; margin-bottom: 10px; padding-right: 10px; padding-top:6px; }
.StoreLocator .Button { }
.StoreList {}
.StoreList .TextContent {float:left;margin-left:5px;margin-top:20px;}
.StoreList .TextContent div {margin-bottom:4px;}
.StoreList .ImageContent {float:right;}
.StoreList .Title A:Link {color:#004d94;font-weight:bold;text-decoration:none;}
.StoreList .Title A:hover {color:red;font-weight:bold;text-decoration:underline;}
.StoreList .Title A:Visited {color:#004d94;font-weight:bold;text-decoration:none;}
.StoreList .Address {color:Black;}
.StoreList .MapLink A:Link {color:#004d94;text-decoration:none;}
.StoreList .MapLink A:hover {color:red;text-decoration:none;}
.StoreList .MapLink A:Visited {color:#004d94;text-decoration:none;}

/**************************************************/
/* MENU                                          
/**************************************************/
#Menu { font-size: 11px; color: white; font-family: Arial; text-align: left; background-color: #cccccc; font-weight: bold; text-transform: capitalize; }
#Menu A:link { text-decoration: none;}
#Menu A:Visited { text-decoration: none; }
#Menu A:Hover { text-decoration: none; }
#Menu .StaticMenuStyle {  }
#Menu .StaticMenuItemStyle{ font-size: 10px; color: #474544; font-weight: bold; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px; padding-top: 5px; padding-bottom: 5px; text-transform: uppercase;}
#Menu .StaticMenuItemStyle a:hover{ color: white; }
#Menu .StaticHoverStyle { background-color: #666666; } 
#Menu .StaticSelectedStyle { }
#Menu .DynamicMenuStyle { z-index: 100; }
#Menu .DynamicMenuItemStyle {text-transform: uppercase; background-color: #7C7C7C; font-size: 10px;color: white; font-weight: bold; padding:5px 5px 5px 5px;border-top :dotted 1px white;}
#Menu .DynamicHoverStyle {background-color:#666666;} 
#Menu .DynamicSelectedStyle { }

/**************************************************/
/* GRID                                           
/**************************************************/
.Grid { border: #cccccc 1px solid; width: 673px;}
.TopGrid {margin-top: 20px;}
/*
.Grid a { text-decoration: none; color: #003399; }
.Grid a:link { text-decoration: none; color: #003399; }
.Grid a:hover { text-decoration: underline; color: #F60; }
.Grid a:visited { text-decoration: none; color: #003399; }
*/
.FooterStyle { background-color: #507CD1; color: white; font-weight: bold; }
.RowStyle { background-color: #EFF3FB; }
.PagerStyle { background-color: #fbfbfb; text-align: center; }
.PagerStyle a:link { text-decoration: underline; }
.PagerStyle a:hover { text-decoration: underline; }
.PagerStyle a:visited { text-decoration: underline; }
.HeaderStyle { background-color: #507CD1; color: white; font-weight: bold; text-align: left; }
.AlternatingRowStyle { background-color: #FFFFFF; }

/**************************************************/
/* SITE LINKS                        
/**************************************************/
#SiteLinks {  text-align: right; vertical-align: middle; margin-right: -10px; padding-right: 2px; padding-left: 2px; padding-bottom: 2px; padding-top: 4px; font-size: 8pt; font-family: arial; font-weight: normal; text-transform: capitalize; text-decoration: none; margin-bottom: 1px; }
#SiteLinks .Link { margin-left:4px; margin-right:5px;letter-spacing:0.5px;text-transform:uppercase; font-size:9px; }
#SiteLinks .Link A:link { color: #666666; text-decoration: none; margin-right:2px; }
#SiteLinks .Link A:visited { color: #666666; text-decoration: none;margin-right:2px;}
#SiteLinks .Link A:hover { text-decoration: none; color: #a52a2a; }
#SiteLinks .CartItem {color:#D98B64;margin-right:0px;}

/*************************************/
/* BreadCrumb
/*************************************/
#BreadCrumb {padding-left:11px;border-top:2px white solid;letter-spacing:0.2px;}
#BreadCrumb A:link { color: #7C7C7C; text-decoration: none; margin-right:2px; }
#BreadCrumb A:visited { color: #7C7C7C; text-decoration: none;margin-right:2px;}
#BreadCrumb A:hover { text-decoration: none; color: Black; }

/**************************************************/
/* QUICK SEARCH                                 
/**************************************************/  

#QuickSearch {margin:0; padding-top: 10px; padding-left:20px;}              
#QuickSearch .Title { color: #404040; font-weight: bold;margin:0px 18px 5px 0px;font-size: 11px; font-family: Arial; display:none;}
#QuickSearch .Button {margin:0px 5px 0px 8px;}
#QuickSearch input.Button{width: 21px;} 
input#ctl00_ctl00_MainContent_navShapping_QUICK_SEARCH_txtKeyword{border:solid 1px #404040;padding: 0; margin:0; zoom:1;}
#QuickSearch .Text{color:#333333; font-family:Arial; font-size:12px; font-weight:bold; text-transform:capitalize;}
#QuickSearch a{display: block; width: 215px; padding-left: 20px; padding-top: 5px; padding-bottom: 10px; margin-left: -20px; margin-top: 10px; position:relative;}
#QuickSearch a.Text:hover{background: #babe53; color: #333333;}

/**************************************************/
/* ONLINE STORE CALLOUT                                 
/**************************************************/
#online_store_callout{padding-left:20px;}
#online_store_callout h2{margin-bottom: 15px;}
#online_store_callout a{display: block; width: 215px; padding-left: 20px; padding-top: 5px; padding-bottom: 10px; margin-left: -20px; margin-top: 5px; margin-bottom: 0; position:relative; font-weight: bold; font-size: 12px;}
#online_store_callout a:hover{background: #babe53; color: #333333;}

/**************************************************/
/* YELLOW CALLOUT                                 
/**************************************************/
#yellow_callout{background:#cfd45c; padding-bottom:20px;border-top: solid 7px #ffffff;width: 235px;}

/**************************************************/
/* REGISTER CALLOUT                                 
/**************************************************/
#register_callout{width: 235px;border-top: solid 7px #ffffff; background: #F2F2F2; margin: 0; padding-bottom:10px;}      
#register_callout h2{padding-left:20px; padding-top:10px; padding-bottom:10px; margin-bottom: -5px; margin-left:0; margin-right:0; margin-top:0; background:#dfdfdf; width:215px; color:#333333;}
#register_callout ul{margin:0; padding:0;}
#register_callout li{list-style: none; font-size:12px; line-height:14px; padding:0; margin:0;}
#register_callout a{
    display: block;
    width: 215px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top:10px;
    padding-left:20px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration:none;
}
#register_callout a:hover {background: #d9d9d9; color: #333333; text-decoration:none;}
#register_callout a:visited{text-decoration: none;}

/**************************************************/
/* SHOPBY CALLOUT                                 
/**************************************************/
#shopby_callout{padding-bottom: 20px; width: 225px; background:#a2cddd; border-top: solid 7px #ffffff; border-bottom: solid 7px #ffffff;}
#shopby_callout{padding-bottom:5px; width: 235px;border-top: solid 7px #ffffff; background: #F2F2F2;}      
#shopby_callout h2{padding-left:20px; padding-top:10px; padding-bottom:10px; margin: 0; background:#dfdfdf; width:215px; color:#333333;}
#shopby_callout ul{margin:0; padding:0;}
#shopby_callout li{list-style: none; font-size:12px; line-height:14px;}
#shopby_callout a{ display: block; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration:none;}
#shopby_callout a:hover{ text-decoration:none; background: #DFDFDF;}
#shopby_callout a:visited{text-decoration: none;}

.ctl00_ctl00_MainContent_navShapping_CATEGORIES_ctrlNavigation_2 a{padding-left: 20px; width: 215px;}
.ctl00_ctl00_MainContent_navShapping_CATEGORIES_ctrlNavigation_8 {margin: 0}

#ctl00_ctl00_MainContent_navShapping_CATEGORIES_ctrlNavigation div{width:0; margin-left: -7px;}
#ctl00_ctl00_MainContent_navShapping_CATEGORIES_ctrlNavigation div a{padding-left: 30px; width: 204px;}

.ShoppingCart .Grid th {padding:10px 21px 10px 10px;}
.align_right, th.align_right, td.align_right{ text-align: right; padding-bottom: 5px; padding-right: 10px;}
.align_left, th.align_left, td.align_left { text-align: left; padding-bottom: 5px; }
.align_center, th.align_center, td.align_center { text-align: center; padding-bottom: 5px;}

/**************************************************/
/* News Letter Singup
/**************************************************/
#NewsLetter { margin-bottom:35px; background:#f2f2f2;padding-bottom:20px; }
#NewsLetter .Title { color: #474544; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 10px; font-size: 14px; font-family: Arial; line-height: 28px; letter-spacing: 0.05em;}
#NewsLetter .Text { color:#333333; padding-left:10px; font-family:Arial; font-size: 12px; font-weight:bold; }
#NewsLetter a.Text { display: block; width: 225px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; }
#NewsLetter a.Text:hover{background: #d9d9d9; color: #333333;}

/**************************************************/
/* HOME QUICK SEARCH                                 
/**************************************************/
#HomeQuickSearch {padding-bottom:10px; margin:0; padding-top: 10px; padding-left:10px;}              
#HomeQuickSearch .Title { color: #404040; font-weight: bold;margin:0px 18px 5px 0px;font-size: 11px; font-family: Arial; display:none;}
#HomeQuickSearch .Button {margin:0px 5px 0px 8px;}
#HomeQuickSearch input.Button{width: 21px;} 
/*#HomeQuickSearch .TextBox {border:solid 1px #404040;  padding: 0px}*/
#HomeQuickSearch .Text{color:#333333; padding-top:10px; font-family:Arial; font-size:12px; font-weight:bold; text-transform:capitalize;}
#HomeQuickSearch a{display: block; width: 225px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; margin-left: -10px; margin-top: 10px; position:relative;}
#HomeQuickSearch a.Text:hover{background: #babe53; color: #333333;}


/**************************************************/
/* PRODUCT SEARCH                                 
/**************************************************/
.ProductSearch{}
.ProductSearch .Description{margin-bottom:15px; font-family: Arial; font-size: 12px;}
.ProductSearch .SearchForm { width:100%; margin-bottom:10px; }
.ProductSearch .SearchForm .Row { padding-bottom: 10px; }
.ProductSearch .SearchForm hr { border: 0; background-color:#cccccc; width: 673px; color: #cccccc; height: 1px; margin-top:20px; margin-left: 0;}
.ProductSearch .SearchForm .FieldStyle { white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; margin-bottom: 10px; padding-right: 10px; padding-top:6px; }
.ProductSearch .SearchForm .ValueStyle {font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }

/**************************************************/
/* CATEGORY DETAIL                                 
/**************************************************/
.CategoryDetail {margin-bottom:20px;}
.CategoryDetail .Title{ margin-bottom: 0px;}
.CategoryDetail .Title h1 { } 
.CategoryDetail .Description { margin-top: 15px;}

.CategoryDetail .SubCategoryList { margin-top: 0px; margin-bottom: 20px; margin-top: 20px; float:left; width:694px; }
.CategoryDetail .SubCategoryList .Title { color: #333333; font-size: 14px; margin-bottom: 5px; margin-top: 0px; font-family: Arial; padding-right: 10px; font-weight: bold; padding-bottom: 20px; border-bottom: solid 1px #CCCCCC;  }
.CategoryDetail .SubCategoryListItem { padding-right: 0px; padding-bottom: 0px; vertical-align: top; margin-bottom: 20px; border-bottom: #dddddd 1px; padding-top: 0px; margin-right: 30px; padding-left: 0px; margin-left: 5px; }
.CategoryDetail .SubCategoryListItem .ShortDescription { font-weight: normal; font-size: 12px; text-align:left; margin-bottom: 10px; padding-top: 0px; color: #333333; }
.CategoryDetail .SubCategoryListItem .CategoryLink {font-weight: normal; font-size: 12px; text-align:left; margin-bottom: 10px; padding-top: 0px; color: #6b7aa2; }
.CategoryDetail .SubCategoryListItem .CategoryLink A:link { text-decoration: none; color: #333333; }
.CategoryDetail .SubCategoryListItem .CategoryLink A:Visited { text-decoration: none; color: #333333; }
.CategoryDetail .SubCategoryListItem .CategoryLink A:Hover { text-decoration: none; color: #666666; }

.CategoryDetail .ProductList { text-align: left;margin-bottom:0px;width:673px; float: left;}
.CategoryDetail .ProductListItem {border:2px solid #cccccc;min-height:375px;height:auto;width:200px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px; margin:10px 15px 10px 0;}

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CategoryDetail .ProductListItem {height: 375px;}
/**/

.CategoryDetail .ProductListItem .CallForPrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.CategoryDetail .ProductListItem .Price { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.CategoryDetail .ProductListItem .RegularPrice { text-align: center; font-weight: bold; font-size: 11px; color: #666666; text-decoration: line-through; }
.CategoryDetail .ProductListItem .SalePrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; padding-top: 5px; }
.CategoryDetail .ProductListItem .Image { margin-bottom:5px; margin-top:5px; min-height:145px; height:auto; }

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CategoryDetail .ProductListItem .Image {height: 145px;}
/**/

.CategoryDetail .ProductListItem .ShortDescription { min-height:100px;height:auto; margin-bottom: 5px; text-align:left; padding-left:10px; padding-right:10px; font-family:Arial; font-size: 12px; }

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CategoryDetail .ProductListItem .ShortDescription {height: 100px;}
/**/

.CategoryDetail .ProductListItem .StarRating {text-align:center;margin-left:0px;}
.CategoryDetail .ProductListItem .BuyButton { margin-top: 10px; margin-bottom:10px; }
.CategoryDetail .ProductListItem .DetailLink { margin-bottom: 5px; margin-top:5px; font-size: 12px; font-weight: bold; text-align: left; padding-left: 5px; padding-right: 5px; min-height: 36px; height:auto;}

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CategoryDetail .ProductListItem .DetailLink {height: 36px;}
/**/

.CategoryDetail .ProductListItem .DetailLink A:link { color: #666666; text-decoration: underline; }
.CategoryDetail .ProductListItem .DetailLink A:Visited { color: #666666; text-decoration: underline;  }
.CategoryDetail .ProductListItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.CategoryDetail .Paging { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
.CategoryDetail .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; margin-left:0; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 0; padding-bottom: 20px; padding-top: 20px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
.CategoryDetail .Sorting .Label { font-weight: bold; margin-right: 5px; }
.CategoryDetail .Sorting select { font-size: 8pt; font-family: verdana; }
.CategoryDetail .ItemStyle { vertical-align:top; padding-bottom:10px; text-align:center; }
.CategoryDetail .ProductViews { text-align:left; padding-left:3px; }
.CategoryDetail .ProductViews .ItemStyle { Vertical-align:text-top; padding:0px; text-align:left; padding-bottom:5px; }
.CategoryDetail .ProductViews .Swatches { padding:0px; cursor:pointer; margin:0px; text-align:center; padding-left:1px; padding-right:4px; }
.CategoryDetail .ProductViews .SwatchImage { border:solid 1px #B9CBFF; text-align:center; padding:2px; margin:0px; }

/**************************************************/
/* HOME PAGE - FEATURED CATEGORIES                                
/**************************************************/
.HomeFeaturedCategories .Title { color: #EDFFFF; font-size: 14px; margin-bottom: 5px; margin-top: 0px; background-color: #666666; font-family: Arial; padding-right: 10px; padding-left: 10px; font-weight: bold; padding-bottom: 5px; padding-top: 5px; }
.HomeFeaturedCategories .Description { margin-top: 15px; font-size: 8pt; }
.HomeFeaturedCategories .SubCategoryList { margin-top: 0px; margin-bottom: 20px; margin-top: 15px; }
.HomeFeaturedCategories .SubCategoryListItem { padding-right: 24px; padding-bottom: 0px; vertical-align: top; margin-bottom: 20px; border-bottom: #dddddd 1px; padding-top: 0px; margin-right: 20px; padding-left: 0px; margin-left: 5px; }
.HomeFeaturedCategories .SubCategoryListItem .CategoryLink { text-align:center; padding-top:5px;font-weight: normal; font-size: 12px; margin-bottom: 10px; color: #6b7aa2; }
.HomeFeaturedCategories .SubCategoryListItem .CategoryLink A:link { text-decoration: none; color: #333333; }
.HomeFeaturedCategories .SubCategoryListItem .CategoryLink A:Visited { text-decoration: none; color: #333333; }
.HomeFeaturedCategories .SubCategoryListItem .CategoryLink A:Hover { text-decoration: none; color: #666666; }
.HomeFeaturedCategories .SubCategoryListItem .Image { }

/**************************************************/
/* FOOTER - OVERRIDE                                
/**************************************************/
#FooterLinks { text-align: center; vertical-align: middle; margin-right: 3px;margin-bottom:10px;margin-left: 3px; padding-bottom: 10px; padding-top: 2px; font-size: 8pt; font-family: Verdana; font-weight: normal; word-spacing:1.5px; }
#FooterLinks .Link { margin-left:1px; margin-right:1px;letter-spacing:0px; text-transform:uppercase; font-size:10px; }
#FooterLinks .Link A:link {color: #7C7C7C;  text-decoration: none; margin-right:2px; }
#FooterLinks .Link A:visited { color: #7C7C7C; text-decoration: none; }
#FooterLinks .Link A:hover { text-decoration: none; color: #a52a2a; }

/**************************************************/
/* PRODUCT DETAIL                                 
/**************************************************/
.ProductDetail { margin-bottom: 20px; float: left; padding-right: 20px; }
.ProductDetail .Title { margin-bottom: 10px;border-bottom-width: 1px;  margin-right:20px; }
.ProductDetail .Image {border:3px solid #cccccc; margin-bottom: 10px; margin-right: 20px; text-align: center; padding-right: 10px;padding-left: 10px; padding-bottom: 10px;  padding-top: 10px;}
/*.ProductDetail img {width: 107px;}*/
.ProductDetail .Label { font-weight: bold; color: #454744; margin-right: 5px; }
.ProductDetail .Zoom { margin-bottom: 20px; text-align: center; }
.ProductDetail .Description {margin-top: 20px; margin-bottom: 10px;padding-right:10px;font-size:13px;letter-spacing:0.025em;line-height:18px;}
.ProductDetail .PriceBox { margin: 0px 0px 0px 0px; font-weight: normal; padding-right: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; text-align: center; }
.ProductDetail .Price {font-size: 12px;  font-weight:bold; color:#cb5d2a; font-family: arial; }
.ProductDetail .RegularPrice { font-size: 12px; font-weight: normal; color: #666666; text-decoration: line-through; margin-right: 5px; font-family: arial;}
.ProductDetail .SalePrice {font-size: 12px; font-weight:bold; color:#454744; font-family: arial; }
.ProductDetail .StockMsg { color:Black; font-family: arial; margin-bottom: 5px; margin-top:20px;font-weight:bold;}
.ProductDetail .CallForPriceMsg {font-size: 14px;  font-weight:bold; color:#cb5d2a;  }
.ProductDetail .ProductNumber { font-weight: bold; font-size: 14px; font-family: arial; color: #6b7aa2; }
.ProductDetail .DetailButton { margin-bottom: 10px; }
.ProductDetail .Attribute { padding-right: 10px; margin-right: 10px; }
.ProductDetail .Related { margin-top: 20px; }
.ProductDetail .Manufacturer{font-size:11px; font-weight:bold; color:#cb5d2a; }
.ProductDetail .AddToCartButton { margin-left: 10px;}
.ProductDetail .StatusMsg{font-size:11px; font-weight:bold; color:Red;  margin-bottom:5px; margin-top:20px;margin-right:-9px;}
.ProductDetail .Tabs{margin-top: 30px; margin-bottom: 20px;  font-size: 8pt; float: left; width: 673px; }
.ProductDetail .Features {margin-top: 20px; margin-bottom: 20px;margin-left:10px;font-size:13px;letter-spacing:0.025em;line-height:18px;}
.ProductDetail .Specifications { margin-top: 20px; margin-bottom: 20px;margin-left:10px;font-size:13px;letter-spacing:0.025em;line-height:18px;}
.ProductDetail .AdditionalInformation {margin-top: 20px; margin-bottom: 20px; font-size: 8pt;margin-left:10px;}
.ProductDetail .StarRating {margin-top:5px;}
.ProductDetail .Total { color: #6074A6; font-family: arial; margin-bottom:5px; font-weight: bold; margin-right: 5px; }
.ProductDetail .totaltext { font-size: 14px; font-weight:bold; color:#cb5d2a; font-family: arial; }
.ProductDetail .Quantity {vertical-align:middle;color: #454744;font-family: arial;margin-bottom:5px; font-weight: bold; margin-right:0px; margin-left:3px; font-size: 12px;}
.ProductDetail .TotalQuantity {margin-top:5px;}
.ProductDetail .TotalPriceText {color: #454744;font-family: arial;font-weight: bold;margin-right:5px; font-size:12px;}
.ProductDetail .PriceContent {margin-top:10px;margin-bottom:10px;margin-left:3px;text-align:left;}
.ProductDetail .CallForPrice {font-size:11px; font-weight:bold; margin-left:3px; color:#cc6600;  }
.ProductDetail .PrdtAddtionalImages {margin-bottom:15px;}
.ProductPrice  {font-size: 14px;  font-weight:bold; color:#cb5d2a; font-family: arial; }
.ProductDetail .EnlargeImage {text-align:center;margin-right:20px;}
.ProductDetail .EnlargeImage A:Link {position:relative;bottom:4px;left:4px;}
.ProductDetail .EnlargeImage A:Visited {position:relative;bottom:4px;left:4px;}
.ProductDetail .OrderingOptions {width:170px;border-top:1px solid #c64e46;border-bottom:1px solid #c64e46;padding-left:20px;padding-right:20px;padding-bottom:10px;padding-top:10px; float: right;} 
.ProductDetail .OrderingOptions .OptionsTitle {color:#454744;font-size:12px;margin-bottom:10px;font-weight:bold; text-transform:uppercase;}
.ProductDetail .WishLink {margin-left:0px;margin-top:3px;}
.ProductDetail .RecentlyViewedItem .Image { padding:0px; margin:0px; margin-bottom: 5px; border:0px; }
.ProductDetail .RelatedProducts {margin-left:0px;}
#ctl00_ctl00_MainContent_uxProduct_ucIncludedProducts_grdIncludedProducts tr, #ctl00_ctl00_MainContent_uxProduct_ucIncludedProducts_grdIncludedProducts tr.ItemStyle, #ctl00_ctl00_MainContent_uxProduct_ucIncludedProducts_grdIncludedProducts th{margin:0; padding:0;}
#ctl00_ctl00_MainContent_uxProduct_ucIncludedProducts_pnlIncludedProducts{border-bottom:solid 1px #CCCCCC;margin-top:20px; margin-bottom: 20px; padding-top:20px; padding-left:20px;}
.ProductDetail .RecentlyViewedItem {border:none;height:auto;text-align: center; padding-left: 0; padding-right: 0; padding-top:0; padding-bottom:0; margin: 0px;}

/**************************************************/
/* Product Dynamic Attributes/AddOns Style
/**************************************************/
#Attributes .FieldStyle {}
#Attributes .ValueStyle {padding-bottom:7px;padding-left:0px;}

#Add-Ons .FieldStyle {}
#Add-Ons .ValueStyle {padding-bottom:5px;padding-top:5px;padding-left:0px;}
#Add-Ons .DynamicValueStyle {padding-bottom:0px;padding-left:10px;}
#Add-Ons .AddonTitle {color:#6074A6;font-size:12px;margin-bottom:0px;padding-left:3px;font-family: Arial;font-weight:bold;}


/*****************************************************/
/* Product Alternate Images  In ProductZoom.ascx page                            
/*****************************************************/
#ProductZoom
{
 margin-top:10px;margin-bottom:10px;
}
#ProductZoom .Zoomtitle {text-align:left;margin-left:6px; }
#ProductZoom .Zoomtitle h1 {color:#ffffff; font-size:24px;}
#ProductZoom .ImageContent{margin-top:15px;}
#ProductZoom .ImageLarge {vertical-align:top;}
#ProductZoom .AdditionalImages {margin-top:5px;}
#ProductZoom .AdditionalImages .AlternateImageBox {cursor:pointer;border:solid 1px #cccccc;text-align:center; padding:2px;margin-left:7px;margin-right:2px;cursor:pointer;}
#ProductZoom .AdditionalImages .AlternateName {margin-bottom:5px;margin-left:2px;font-family:Tahoma;font-size:9px;font-weight:normal;text-align:center;}
#ProductZoom .CatalogItemLargeImage {margin:5px;border:solid 1px #cccccc;width:450px;height:450px;text-align:center;}
#ProductZoom .ZoomFooter { margin-right:10px; margin-top:10px; text-decoration: underline; color: #ffffff; cursor: pointer; font: bold 11px Arial; letter-spacing: 2px;}
#ProductZoom .SwatchesContent {margin-left:5px;}
#ProductZoom .SwatchImageBox { border:solid 1px #B9CBFF; cursor:pointer; text-align:center;margin:1px;}
#ProductZoom .SwatchAlternateName {margin-bottom:5px;margin-left:2px;font-family:Tahoma;font-size:9px;font-weight:normal;text-align:left;}
#ProductZoom .ItemStyle { vertical-align:top; padding-bottom:0px; text-align:center; }

/**************************************************/
/* Product Alternate Images                                
/**************************************************/
.ProductAdditionalImages { border: solid 1px #cccccc;text-align:center; padding:2px;margin:1px; cursor:pointer;}
.Swatches { padding:0px; cursor:pointer; margin:0px; text-align:center; }
.SwatchImage { border:solid 1px #B9CBFF; cursor:pointer; text-align:center; padding:2px; margin:1px; }

/*******************/
/*AJAX Tab 
/*******************/
#Tab .CustomTabStyle .ajax__tab_body { border:Solid 1px #cccccc; font-family:verdana,tahoma,helvetica;font-size:10pt;border-top:#cccccc 1px solid;background-color:#ffffff; padding-top:5px;padding-right:13px;}
#Tab .CustomTabStyle .ajax__tab_outer {padding-right:4px;background:url(../../../Images/buttons/Rplain.gif) no-repeat right; background-position:top right;}
#Tab .CustomTabStyle .ajax__tab_inner {padding-left:4px;background:url(../../../Images/buttons/Lplain.gif) no-repeat;}
#Tab .CustomTabStyle .ajax__tab_tab {height:19px;margin:0;background:url(../../../Images/buttons/mplain.gif) repeat-x; padding-top:5px; padding-left:10px; padding-right:10px;}
#Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_outer {padding-right:4px;background:url(../../../Images/buttons/Rplain.gif) no-repeat right; background-position:top right;}
#Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_inner {padding-left:4px;background:url(../../../Images/buttons/Lplain.gif) no-repeat;}
#Tab .CustomTabStyle .ajax__tab_hover .ajax__tab_tab {height:19px;background:url(../../../Images/buttons/mplain.gif) repeat-x;}
#Tab .CustomTabStyle .ajax__tab_active .ajax__tab_outer {background:url(../../../Images/buttons/faright.gif) no-repeat right; color:White;  background-position:top right;}
#Tab .CustomTabStyle .ajax__tab_active .ajax__tab_inner {background:url(../../../Images/buttons/faleft.gif) no-repeat;color:White;  }
#Tab .CustomTabStyle .ajax__tab_active .ajax__tab_tab {height:19px;background:url(../../../Images/buttons/famiddle.gif) repeat-x; color:White; font-weight:600;}


/**************************************************/
/* CATEGORY TREEVIEW                                 
/**************************************************/
.CategoryTreeView { margin-bottom: 5px; padding-bottom: 5px; padding-left: 0px; }
.CategoryTreeView img{display:none;}
.CategoryTreeView A:link { text-decoration: none;}
.CategoryTreeView A:Visited { text-decoration: none;}
.CategoryTreeView A:Hover { text-decoration: none;}
.CategoryTreeView .Title { color: #474544; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 10px; font-size: 14px; font-family: Arial; line-height: 28px; letter-spacing: 0.05em; }
.CategoryTreeView .NodeStyle { font-weight: bold; font-size: 12px; line-height: 14px; font-family: Arial; padding-top: 5px; padding-bottom: 5px;}
.CategoryTreeView .NodeStyle a{ display: block; width: 215px; padding-top: 5px; padding-bottom: 5px; color: #454744;}
/*
.CategoryTreeView .NodeStyle a:hover{ background: #d9d9d9; color: #333333;}
.CategoryTreeView .RootNodeStyle { background:#F2F2F2 ; }
.CategoryTreeView .ParentNodeStyle { background:#F2F2F2 ;}
*/
.CategoryTreeView .SelectedNodeStyle a { background:none; color:#c64d44; }



/**************************************************/
/* SPECIALS TREEVIEW                                 
/**************************************************/
.SpecialsTreeView { margin-bottom: 15px; padding-bottom: 5px; padding-left: 0px; }
.SpecialsTreeView A:link { text-decoration: underline; }
.SpecialsTreeView A:Visited { text-decoration: underline; }
.SpecialsTreeView A:Hover { text-decoration: underline; }
.SpecialsTreeView .Title { color: #474544; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 10px; font-size: 14px; font-family: Arial; line-height: 28px; letter-spacing: 0.05em;}
.SpecialsTreeView .NodeStyle { font-weight: bold; font-size: 12px; line-height: 14px; font-family: Arial; padding-top: 5px; padding-bottom: 5px; }
.SpecialsTreeView .NodeStyle a{ display: block; width: 225px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; text-decoration: none; }
.SpecialsTreeView .NodeStyle a:hover{ background: #d9d9d9; color: #333333; text-decoration:none;}
.SpecialsTreeView .NodeStyle a:visited {text-decoration:none;}
/*.SpecialsTreeView .ParentNodeStyle {}
.SpecialsTreeView .SelectedNodeStyle {}
.SpecialsTreeView .RootNodeStyle {}*/


/**************************************************/
/* SHOPPING CART                                 
/**************************************************/
.ShoppingCart { margin-bottom: 10px; width: 673px; }
.ShoppingCart .CheckoutBox { margin-bottom: 10px; margin-top: 10px; text-align: right; }
.ShoppingCart .CustomerService { font-weight: bold; font-size: 9pt; font-family:Arial; }
.ShoppingCart .Grid { }
.ShoppingCart .Grid td/*, .ShoppingCart .Grid th*/ {padding:10px; text-align: left; }
.ShoppingCart .Grid th {font-weight: bold;}
.ShoppingCart .Grid .Header { font-weight: bold; font-size: 11px; color: white; background-color: #c64e46; }
.ShoppingCart .Grid .Row { font-weight: normal; font-size: 11px; color: #333333; background-color: #F2F2F2; }
.ShoppingCart .Grid .AlternatingRow { font-weight: normal; font-size: 11px; color: #454744; background-color: #ffffff; }
.ShoppingCart .Grid .Description { font-size: 11px; font-family: verdana; padding-top: 5px; }
.ShoppingCart .Update { font-weight: normal; margin-top: 5px; }
.ShoppingCart .Quantity { width: 20px; height: 15px; }
.ShoppingCart .CartTotals { margin-bottom: 10px; text-align: right; }
.ShoppingCart .Apply {color:#454744; font-size: 12px;}
.ShoppingCart .Apply input {border:1px solid #404040;}
.ShoppingCart .gobutton {vertical-align:middle;padding-bottom:6px;}
.ShoppingCart .TotalBox {margin-top: 20px; margin-bottom: 20px;}
.ShoppingCart .TotalBox td {padding-left:20px;text-align:right; padding-top: 5px; margin-top: 5px; font-size: 12px;}
.ShoppingCart .bold {font-weight:bold;}
.ShoppingCart .FormTitle {margin-top: 10px; width: 643px;}

#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_uxCart {width: 663px;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_uxCart td { text-align: right; padding-right: 21px;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_uxCart td.Description {text-align:left;}

#table_width {width: 663px;}
#merch_total, #promo_code{text-align: right; float:right; padding-right: 10px;}
#shipping_container{text-align: right; float:right; padding-left: 10px;}
#ship_by select {float:right;}
#tax_heading, #tax_content, #discount_heading, #discount_content,#shipping_heading, #shipping_content{text-align: right; float:right;}
#total_header, #total_content{font-weight: bold; font-size: 14px;}

span#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_txtShippingGround, span#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_txtShipping2Day, span#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_txtShippingOvernight, span#ctl00_ctl00_MainContent_uxCheckout_uxWizard_uxOrder_txtShippingPOBox{text-align:left; width:275px;float:right; padding-top:10px;}

/************************************************/
/* Customize Dynamic Grid - Attribute
/************************************************/
.AttributeGrid .Grid {width:auto; margin: 5px 0px 0px 0px; padding: 1px; border: solid 1px silver; }
.AttributeGrid .Grid .Legend { border-top: solid 1px silver; padding: 0px; margin: 0px; }
.AttributeGrid .Grid .inStock { color: #575787; }
.AttributeGrid .Grid .outOfStock { color: #575787; }
.AttributeGrid .Grid .HeaderStyle { padding:0px; font-weight: normal; border-bottom: solid 1px silver; color: black; background-color: white; }
.AttributeGrid .Grid .LeftColStyle { font-weight: normal; border-right: solid 1px silver; color: black; background-color: white; padding-left:5px; padding-right:5px; padding-bottom:3px; text-align:right; }
.AttributeGrid .Grid .RowStyle{ padding: 0px; background-color: #FFFFFF;}
.AttributeGrid .Grid .RowStyle .HeaderStyle { border-bottom: none; border-right: none; }
.AttributeGrid .Grid td { border-right: solid 1px silver; }
.AttributeGrid .Grid .HeaderStyle { text-align: center; width: 25px; }
.AttributeGrid .Grid .Header { width: 25px; }

/**************************************************/
/* CHECKOUT                                 
/**************************************************/
.Checkout { padding-bottom: 30px; padding-top: 10px; padding-right: 10px; padding-left: 10px; text-align: left;margin-top:0px; }
.Checkout .Overview { font-size: 11px; color: black; padding-bottom: 20px; }
.Checkout .Or { font-weight: bold; font-size: 16px; color: #536971; font-family: arial; padding-right: 10px; padding-left: 10px; }
.Checkout .Steps { text-align: left; height: 25px; }
.Checkout .Steps .Passive { font-weight: bold; font-size: 14px; color: silver; margin-right: 10px; }
.Checkout .Steps .Active { font-weight: bold; font-size: 14px; color: #C64D44; margin-right: 10px;}
.Checkout .NextButton { background: url(../Images/next_step.gif) no-repeat 0 0; display: block; text-indent: -999999em; width: 145px; height: 17px; border: none; float:right; margin-top: -17px; outline: 0; position: relative; text-transform: capitalize; cursor: pointer;}
.Checkout .BackButton { background: url(../Images/back_button.gif) no-repeat 0 0; display: block; text-indent: -999999em; width: 45px; height: 17px; border: none; float: left; margin-top: 20px; outline: 0; position: relative; cursor: pointer; position: relative;}
.Checkout .BackLink { margin-top:50px; }
.Checkout input, .Checkout select, .Checkout textarea, .Checkout input, .Checkout checkbox, .OptionsLabel select {border:1px solid #404040; margin-top:2px; margin-bottom:2px;}
.Checkout .Agreement { width: 643px; margin: auto;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_FinishNavigationTemplateContainerID_SubmitButton { background: url(../Images/submit_button.gif) no-repeat 0 0; display: block; text-indent: -999999em; width: 91px; height: 17px; border: none; float: left; margin-top: 2px;outline: 0; position: relative; cursor: pointer; text-transform: capitalize;}
#ctl00_ctl00_MainContent_uxCheckout_uxWizard_FinishNavigationTemplateContainerID_Img1{margin-top: 2px; padding-right: 10px; position: relative; padding-top:0; }

/**************************************************/
/* NOTIFICATION - PAYPAL & GOOGLE EXPRESS CHECKOUT
/**************************************************/
#Notification { margin-bottom:200px; }
#Notification .BackLink A:Link{ margin-left:10px; }
#Notification .BackLink A:Visited{ margin-left:10px; }
#Notification .BackLink A:Hover{ margin-left:10px; }
#Notification .Text { margin-left:10px; font-size:12px; font-weight:normal; font-family:Verdana; text-align:left; margin-bottom:10px;  margin-bottom:15px; }

/**************************************************/
/* POPUP WINDOW                                 
/**************************************************/
.PopupBody { text-align: center; margin-top: 0px; font-family: verdana,helvetica,sans-serif; font-size: 8pt; color: #666666; background-color: #ffffff; }
.Popup { background-color: #ffffff; padding-right: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; }
.Popup .Header { background-color: #dcdcdc; margin-bottom: 20px; padding-right: 5px; padding-left: 5px; padding-bottom: 5px; padding-top: 5px; font-weight: bold; font-size: 10pt; text-transform: uppercase; font-family: Verdana; }
.Popup .Body { background-color: #ffffff; margin-bottom: 20px; min-height: 350px; }
.Popup .Footer { background-color: #ffffff; background-color: #dcdcdc; padding-top: 5px; padding-bottom: 10px; }

 /*Outermost DIV for thumbnail viewer*/
#thumbBox{position: absolute; left: 0; top: 0; width: auto; padding: 10px; padding-bottom: 0; background: #313131; visibility: hidden; z-index: 10; cursor: hand; cursor: pointer; }

 /*Footer DIV of thumbbox that contains "close" link */
#thumbBox .footerbar{ font: bold 16px Tahoma; letter-spacing: 5px; line-height: 1.1em; color: white; padding: 5px 0; text-align: right; }

/*DIV within thumbbox that holds the enlarged image */
#thumbBox #thumbImage{ background-color: white; }

 /*DIV for showing "loading" status while thumbbox is being generated*/
#thumbLoading{ position: absolute; visibility: hidden; border: 1px solid black; background-color: #EFEFEF; padding: 5px; z-index: 5; }
#thumbFrame{ position: absolute; left: -300px; font:Arial; border: 0px; padding: 0px; visibility: hidden; z-index: 4;}
 
/**************************************************/
/*  SPECIALS Page                                 
/**************************************************/
.Specials { text-align: left; margin-top: 0px; margin-bottom: 20px; float: left; }

.SpecialItem {border:2px solid #cccccc;min-height:375px;height:auto;width:200px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px; margin:10px 15px 10px 0;}

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .SpecialItem {height: 375px;}
/**/


.SpecialItem .Price { font-weight: bold; font-size: 10px;color: #C64E46; text-align:center;}
.SpecialItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888; text-decoration: line-through; }
.SpecialItem .SalePrice { font-weight: bold; font-size: 10px;color: #C64E46; padding-top: 5px; }
.SpecialItem .Image { margin-bottom: 5px; min-height:145px; height:auto; }

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .SpecialItem .Image {height: 145px;}
/**/

.SpecialItem .BuyButton { margin-bottom: 10px; margin-top:10px; }

.SpecialItem .ShortDescription { min-height:100px;height:auto; margin-bottom: 5px; text-align:left; padding-left:10px; padding-right:10px; font-family:Arial; font-size: 12px; }

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .SpecialItem .ShortDescription {height: 100px;}
/**/


.SpecialItem .StarRating {text-align:center;margin-left:0px;}
.SpecialItem .CallForPrice { margin-bottom: 5px; }
.SpecialItem .DetailLink { margin-bottom: 5px; margin-top:5px; font-size: 12px; font-weight: bold; text-align: left; padding-left:5px; padding-right:10px; font-weight:bold; min-height:36px; height:auto;}

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .SpecialItem .DetailLink {height: 36px;}
/**/

.SpecialItem .DetailLink A:link { color: #666666; text-decoration: underline; text-align: left;  }
.SpecialItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.SpecialItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.Specials .ItemStyle { vertical-align:text-top; padding-bottom:10px; text-align:center; }
.Specials .ProductViews { text-align:left; padding-left:7px; padding-right:0px; }
.Specials .ProductViews .ItemStyle { Vertical-align:text-top; padding:0px; text-align:left; padding-bottom:5px; }
.Specials .ProductViews .Swatches { padding:0px; cursor:pointer; margin:0px; text-align:left; padding-left:0px; padding-right:0px; }
.Specials .ProductViews .SwatchImage {  border:solid 1px #B9CBFF; cursor:pointer; text-align:center; padding:2px; margin:1px; }

/**************************************************/
/*  Best Sellers Page                                 
/**************************************************/
.BestSellers { text-align: left; margin-top: 0px; margin-bottom: 20px; }
.BestSellerItem { border:2px solid #cccccc;height:auto;width:200px; vertical-align: top; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px; margin:10px 26px 10px 0; }
.BestSellerItem .Price { font-weight: bold; font-size: 10px;color: #cc6600; text-align:center; }
.BestSellerItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888; text-decoration: line-through; }
.BestSellerItem .SalePrice { font-weight: bold; font-size: 10px;color: #C64E46; padding-top: 5px; }
.BestSellerItem .Image { margin-bottom: 5px; }
.BestSellerItem .BuyButton { margin-bottom: 10px; margin-top:10px; }
.BestSellerItem .ShortDescription { margin-bottom: 5px; margin-top:5px; }
.BestSellerItem .StarRating {text-align:center;margin-left:0px;}
.BestSellerItem .CallForPrice { margin-bottom: 5px; }
.BestSellerItem .DetailLink { margin-bottom: 5px; margin-top:5px; font-size: 12px; font-weight: bold; }
.BestSellerItem .DetailLink A:link { color: #666666; text-decoration: underline;  }
.BestSellerItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.BestSellerItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.BestSellers .ItemStyle { vertical-align:text-top; padding-bottom:10px; text-align:center; }

/**************************************************/
/*  Featured Product                                 
/**************************************************/
.Featured { text-align: left; margin-top: 0px; margin-bottom: 20px; }
.Featured .Title { color: #EDFFFF; font-size: 14px; margin-bottom: 5px; margin-top: 0px; background-color: #6074A6; font-family: Arial; padding-right: 10px; padding-left: 10px; font-weight: bold; padding-bottom: 10px; padding-top: 10px; }
.FeaturedItem {height:400px;width:165px; vertical-align: top; text-align: center; padding-right: 15px; padding-left: 15px; padding-bottom: 10px; padding-top: 10px; border-right: #eff3f6 8px solid; border-top: #eff3f6 8px solid; border-left: #eff3f6 8px solid; border-bottom: #eff3f6 8px solid; margin-top: 10px; margin-bottom: 10px; margin-left: 5px; }
.FeaturedItem .Price { font-weight: bold; font-size: 10px;color: #cc6600; text-align:center; }
.FeaturedItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888; text-decoration: line-through; }
.FeaturedItem .SalePrice { font-weight: bold; font-size: 10px;color: #cc6600; padding-top: 5px; }
.FeaturedItem .Image { margin-bottom: 5px; }
.FeaturedItem .BuyButton { margin-bottom: 10px; margin-top:10px; }
.FeaturedItem .ShortDescription { margin-bottom: 5px; }
.FeaturedItem .StarRating {text-align:left;margin-left:10px;}
.FeaturedItem .CallForPrice { margin-bottom: 5px; }
.FeaturedItem .DetailLink { margin-bottom: 5px; font-size: 12px; font-weight: bold; }
.FeaturedItem .DetailLink A:link { color: #666666; text-decoration: underline;  }
.FeaturedItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.FeaturedItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }

/**************************************************/
/*  Shop By Brand Page                                 
/**************************************************/
.Brand { margin: 0px 0px 20px; border-top-width: 1px; text-align: left; }
.Brand .Title { }
.BrandItem {border:2px solid #cccccc;height:auto;width:200px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px;margin-top: 10px; margin-bottom: 10px; margin-left: 0px;margin-right:26px; }
.BrandItem .Price { font-weight: bold; font-size: 10px;color: #cc6600; }
.BrandItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888;text-decoration: line-through;}
.BrandItem .SalePrice { font-weight: bold; font-size: 10px;color: #cc6600; padding-top: 5px; }
.BrandItem .Image { margin-bottom: 10px; }
.BrandItem .ShortDescription { margin-bottom:5px; }
.BrandItem .CallForPrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.BrandItem .Price { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.BrandItem .RegularPrice { text-align: center; font-weight: bold; font-size: 11px; color: #666666; text-decoration: line-through; }
.BrandItem .SalePrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; padding-top: 5px; }
.BrandItem .Image { margin-bottom: 5px; }
.BrandItem .StarRating {text-align:left;margin-left:10px;}
.BrandItem .BuyButton { margin-top: 10px; margin-bottom:10px; }
.BrandItem .DetailLink { margin-bottom: 5px; margin-top:5px; font-size: 12px; font-weight: bold; }
.BrandItem .DetailLink A:link { color: #666666; text-decoration: underline;  }
.BrandItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.BrandItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.Brand .ItemStyle { vertical-align:text-top; padding-bottom:10px; text-align:center; }
.Brand .Sorting .Label { font-weight: bold; margin-right: 5px; }
.Brand .Sorting select { font-size: 8pt; font-family: verdana; }
.Brand .Paging { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
.Brand .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }

/**************************************************/
/*  Shop By Brand Navigation                                 
/**************************************************/
.BrandNavigation { }
.BrandNavigation .Title { text-transform:uppercase; color: #cb5d2a; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 5px; font-size: 10px; font-family: verdana; }
.BrandTreeView { margin-bottom: 15px; padding-bottom: 5px; padding-left: 5px; }
.BrandTreeView A:link { text-decoration: underline; }
.BrandTreeView A:Visited { text-decoration: underline; }
.BrandTreeView A:Hover { text-decoration: underline; }
.BrandTreeView .TreeView { padding-left: 15px; }
.BrandTreeView .ParentNodeStyle {}
.BrandTreeView .HoverNodeStyle {color:#666666;}
.BrandTreeView .SelectedNodeStyle {}
.BrandTreeView .RootNodeStyle {}
.BrandTreeView .LeafNodeStyle {padding-left:3px;padding-bottom:5px;}
.BrandTreeView .NodeStyle { font-size: 8pt; font-family: Verdana; padding-bottom: 2px; padding-top: 2px; color: #3a6ea5; }
.BrandNavigation .DropDownList { margin-bottom: 20px; margin-left: 11px; padding:0px; font-weight: normal; font-size: 8pt; font-family: verdana; margin-top:7px; margin-left: 10px; }

/**************************************************/
/*  Price Page                                 
/**************************************************/
.Price { text-align: left; margin-top: 0px; margin-bottom: 20px; }
.Price .Title { margin-top:20px; }
.PriceItem { border:2px solid #cccccc;height:auto;width:200px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px;margin-top: 10px; margin-bottom: 10px; margin-left: 0px;margin-right:26px;}
.PriceItem .Price { font-weight: bold; font-size: 10px;color: #cc6600; text-align:center; }
.PriceItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888; text-decoration: line-through; }
.PriceItem .SalePrice { font-weight: bold; font-size: 10px;color: #cc6600; padding-top: 5px; }
.PriceItem .Image { margin-bottom: 5px; }
.PriceItem .BuyButton { margin-bottom: 10px; margin-top:10px; }
.PriceItem .ShortDescription { margin-bottom: 5px; margin-top:5px; }
.PriceItem .StarRating {text-align:center;margin-left:0px;}
.PriceItem .CallForPrice { margin-bottom: 5px; }
.PriceItem .DetailLink { margin-bottom: 5px; margin-Top: 5px; font-size: 12px; font-weight: bold; }
.PriceItem .DetailLink A:link { color: #666666; text-decoration: underline;  }
.PriceItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.PriceItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.Price .ItemStyle { vertical-align:text-top; padding-bottom:10px; text-align:center; }
.Price .Sorting .Label { font-weight: bold; margin-right: 5px; }
.Price .Sorting select { font-size: 8pt; font-family: verdana; }
.Price .Paging { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }
.Price .NavigationStyle { text-align: right; margin-top: 15px; margin-bottom: 10px; font-size: 11px; color: #444444; padding-right: 5px; padding-left: 5px; padding-bottom: 3px; padding-top: 3px; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3; border-left-width: 1px; border-left-color: #d3d3d3; border-bottom-width: 1px; border-bottom-color: #8e9fba; }

/**************************************************/
/*  Cross Sell Related Item
/**************************************************/
.CrossSell,#ctl00_ctl00_MainContent_uxCart_uxProductRelatedItems_pnlRelatedProduct { text-align: left; margin-top: 10px; width: 635px;padding: 20px; overflow-x:auto; overflow-y:hidden; }
.CrossSell h5 {padding-bottom: 10px;}
.CrossSell .Title { color: #EDFFFF; font-size: 14px; margin-bottom: 5px; margin-top: 0px; background-color: #6074A6; font-family: Arial; padding-right: 10px; padding-left: 10px; font-weight: bold; padding-bottom: 10px; padding-top: 10px; }

.CrossSellItem {border:2px solid #cccccc;height:auto;width:129px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px;margin-top: 10px; margin-bottom: 10px; margin-left: 0px; margin-right:7px; min-height:200px;height:auto;}

/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CrossSellItem {height: 200px;}
/**/


.CrossSellItem .CallForPrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.CrossSellItem .Price { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.CrossSellItem .RegularPrice { text-align: center; font-weight: bold; font-size: 11px; color: #666666; text-decoration: line-through; }
.CrossSellItem .SalePrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; padding-top: 5px; }
.CrossSellItem .Image { margin:0 auto; border:0px; padding-top:5px; padding-bottom: 5px; }
.CrossSellItem .ShortDescription { margin-bottom: 5px; }
.CrossSellItem .BuyButton { margin-top: 10px; margin-bottom:10px; }

.CrossSellItem .DetailLink { margin-bottom: 5px; margin-top:5px; font-size: 12px; font-weight: bold; min-height:50px; height:auto;}
/* min-height for Internet Explorer 6/7 */
/*\*/
* html .CrossSellItem .DetailLink {height: 50px;}
/**/

.CrossSellItem .DetailLink A:link { color: #666666; text-decoration: underline; }
.CrossSellItem .DetailLink A:Visited { color: #666666; text-decoration: underline;  }
.CrossSellItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.CrossSell td.ItemStyle { vertical-align:text-top; padding-bottom:10px; text-align:center; }

/**************************************************/
/* Wish List Grid
/**************************************************/
.WishList {}
.WishList .Grid { width:100%; }
.WishList .Grid .Header { font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; }
.WishList .Grid .Row { font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.WishList .Grid .AlternatingRow { font-weight: normal; font-size: 11px; color: #284775; background-color: #ffffff; }
.WishList .Grid .Description { font-size: 11px; font-family: verdana; padding-top: 5px; }
.WishList .Grid .CallForPrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; }
.WishList .RegularPrice { text-align: center; font-weight: bold; font-size: 11px; color: #666666; text-decoration: line-through; }
.WishList .SalePrice { text-align: center; font-weight: bold; font-size: 11px; color: #cc6600; padding-top: 5px; }

/**************************************************/
/*  Recently Viewed Products Page                                 
/**************************************************/
.RecentlyViewedProduct { text-align: left; margin-top: 0px; margin-bottom: 20px; }
.RecentlyViewedProduct .RecentlyViewedTitle { color: #cb5d2a; font-weight: bold; padding-right: 10px; padding-left: 10px; padding-bottom: 5px; padding-top: 10px; font-size: 9pt; font-family: verdana; }
.RecentlyViewedItem {border:2px solid #cccccc;height:auto;width:200px; text-align: center; padding-right: 5px; padding-left: 5px; padding-bottom: 0px; padding-top: 0px;margin-top: 10px; margin-bottom: 10px; margin-left: 0px;margin-right:26px;}
.RecentlyViewedItem .Price { font-weight: bold; font-size: 10px;color: #cc6600; text-align:center; margin:0; }
.RecentlyViewedItem .RegularPrice { font-weight: bold; font-size: 10px; font-family: verdana,arial; color: #888888; text-decoration: line-through; }
.RecentlyViewedItem .SalePrice { font-weight: bold; font-size: 10px;color: #cc6600; padding-top: 5px; }
.RecentlyViewedItem .Image { margin-bottom: 5px;}
.RecentlyViewedItem .BuyButton { margin-bottom: 10px; margin-top:10px; }
.RecentlyViewedItem .ShortDescription { margin-bottom: 5px; }
.RecentlyViewedItem .StarRating {text-align:center;margin-left:0px;}
.RecentlyViewedItem .CallForPrice { margin-bottom: 5px; }
.RecentlyViewedItem .DetailLink { margin-bottom: 5px; margin-top: 5px; font-size: 12px;}
.RecentlyViewedItem .DetailLink A:link { color: #666666; text-decoration: underline;  }
.RecentlyViewedItem .DetailLink A:Visited { color: #666666; text-decoration: underline; }
.RecentlyViewedItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }
.RecentlyViewedProduct .ItemStyle { vertical-align:text-top; padding:0px; margin:0; text-align:center; }
td .RecentlyViewedItem {display:block; }

/**************************************************/
/* FORMS                                         
/**************************************************/
.Form {margin-bottom:10px;}
.FormTitle { font-weight: bold; font-size: 12px; color: #333333; background-color: #F2F2F2; padding: 10px; margin-bottom:15px; }
.Form .Search { background-color: #f1f1f1; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; padding-top: 10px; border-right: #b5b4b5 1px solid; border-top: #b5b4b5 1px solid; border-left: #b5b4b5 1px solid; border-bottom: #b5b4b5 1px solid; margin-top: 5px; margin-bottom: 5px; }
.Form .Asterix { color: red; }
.Form .HeaderStyle { font-weight: bold; font-size: 11px; background-color: #e6e6e6; color: #333333; margin-bottom: 5px; margin-top: 10px; padding-bottom: 3px; padding-top: 3px; padding-left: 5px; padding-right: 5px; }
.Form .Row { padding-bottom: 10px; }
.Form .FieldStyle { display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; margin-bottom: 10px; padding-right: 10px; line-height: 15px;}
.Form .ValueStyle {display:block; font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }
.Form .ValueField {padding-bottom:8px;padding-top:5px;}
.Form .SuccessMsg {color: Green; font-size: 13px;}
.Form .BackLink {color:#333333;font-size: 11px;text-decoration:underline;}
.Form .TextField {width:155px;margin-left:5px; margin-bottom:10px; position:relative;}
.ForgetLink a{ font-size: 11px; font-family: Arial; font-weight:bold;}
.Form .HintStyle { font-size: 10px; font-weight: normal; color: #333333; padding-left: 10px; border-right: #3399cc 1px solid; padding-right: 10px; padding-bottom: 5px; padding-top: 5px; border-bottom: #3399cc 1px solid; background-color: #ffffcc; margin-left: 10px; margin-top: 5px; margin-bottom: 5px; }
.Form .Button { margin-top:10px;margin-left:5px;}
.Form .ForgetLink {margin-top:10px;}
.Form .RememberMe {padding-bottom:5px;}
.Form .Rightalign {padding-left:7px;margin-bottom:30px; font-family: Arial; font-size: 12px;}
.Or { font-weight: bold; font-size: 12px; color: #333333; font-family: arial; padding-right: 10px; padding-left: 10px; padding-top: 10px; text-transform: uppercase; border:none; background: #ffffff; }
.Form .Link { padding-left:7px; font-weight: bold; font-size: 11px; color: #336699; font-family: arial; margin-bottom:5px; }
.AccessDenied {padding-bottom:20px;color:Red;font-weight:bold;}
.Loginpage {padding-bottom:100px;padding-top:0px; padding-right: 20px;}
#ctl00_ctl00_MainContent_uxLogin_uxLogin_CheckoutPanel{width: 310px;}
.Loginpage table img{display: none;}

.Content { padding-top:10px;padding-bottom:10px;}

FORMS STYLE 
.ContentForm {padding-top:10px;padding-right:10px;padding-left:10px;}

/**************************************************/
/* SITE MAP
/**************************************************/
.SiteMap {}
.SiteMap .ShoppingCartNavigation {padding-right:20px;margin:0px; border-right: #dddddd 1px solid;}
.SiteMap h5 {margin-left:15px;margin-top:0px;}

/**************************************************/
/* SHOPPING CART NAVIGATION                                 
/**************************************************/
.ShoppingCartNavigation { margin-bottom: 15px; padding-bottom: 5px; padding-left: 5px; }
.ShoppingCartNavigation .Title { color: black; font-weight: bold; padding-right: 10px; padding-left: 10px; font-size: 8pt;}
.ShoppingCartNavigation .TreeView { padding-left: 10px; }
.ShoppingCartNavigation .NodeStyle { font-weight: normal; font-size: 12px;padding-bottom: 2px; padding-top: 2px; }
.ShoppingCartNavigation .RootNodeStyle { font-weight: bold; color: #cb5d2a; font-size: 8pt; padding-bottom: 2px; padding-top: 5px; text-transform: capitalize; }
.ShoppingCartNavigation .RootNodeStyle A:Visited {color: #cb5d2a;}
.ShoppingCartNavigation .HoverNodeStyle { color: red; }
.ShoppingCartNavigation .ParentNodeStyle { }
.ShoppingCartNavigation .LeafNodeStyle { font-size: 11px; margin-bottom: 5px; padding-top: 1px; color: #7777a4; }
.ShoppingCartNavigation .LeafNodeStyle A:Visited {color: #7777a4;}
.ShoppingCartNavigation .SelectedNodeStyle { font-weight:bold; }

/*************************************************/
/* FORGOT PASSWORD
/*************************************************/
.ForgetPassword {font-family:Verdana;font-size:small;}
.ForgetPassword .Title {font-size: 11px; font-weight: bold; color: #4b4b4b; margin-left:10px;}
.ForgetPassword .InstructionTextStyle {font-style:italic; Color:Black }
.ForgetPassword .SucessTextStyle {padding-bottom:150px;}
.ForgetPassword .TextBoxStyle {font-size:0.8em;}
.ForgetPassword .TitleTextStyle {background-color:#5D7B9D;font-weight:bold;font-size:0.9em;Color:White;}
.ForgetPassword .SubmitButtonStyle {background-color:#FFFBFF; border:#CCCCCC 1px Solid; font-family:Verdana; font-size:0.8em; Color:#284775; }
.ForgetPassword .TableContentStyle { margin-left:10px; margin-top:10px;}
.ForgetPassword .ValueField {padding-bottom:7px;padding-top:5px; padding-left:10px;}
.ForgetPassword .FieldStyle {display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right;padding-right:5px;margin-top:4px; }
.ForgetPassword .Button {padding-top: 5px; padding-bottom: 5px; color: #000000; font-size: 12px; font-weight: bold; background-color: #fed; border: 1px solid; border-top-color: #696; border-left-color: #696; border-right-color: #363; border-bottom-color: #363; margin-top: 10px; text-transform: uppercase; font-family: arial;}
.ForgetPassword .FailureText {text-align:left; color:Red; font-size:11px; }
.ForgetPassword .BackLink { margin-left:10px; margin-top:35px; }
.ForgetPassword .BackLink A:Link { margin-left:2px; }
.ForgetPassword .BackLink A:Visited{ margin-left:2px; }
.ForgetPassword .BackLink A:Hover{ margin-left:2px; }
.SuccessText {font-size: 10pt; font-weight: bold; margin-left:10px; }
.ContinueButton { margin-left:5px; }

/**************************************************/
/*  Product Hightlight
/**************************************************/
.Highlight {margin: 40px 0px 0px; border: 0px; text-align: left;}
.Highlight .HighlightName { font-size:11px; }
.HighlightItem { margin-bottom:15px; margin-left:20px; text-align:center; }
.HighlightItem .DetailLink { padding-top:15px; font-size: 12px; font-weight: bold; }
.HighlightItem .DetailLink A:link { color: #666666; text-decoration: underline; }
.HighlightItem .DetailLink A:Visited { color: #666666; text-decoration: underline;  }
.HighlightItem .DetailLink A:Hover { color: #C64E46; text-decoration: underline; }

/**************************************************/
/*  Product Review
/**************************************************/
.Review { margin-left:10px; }
.Review .TitleStyle { font-size: 14px; font-weight:bold; font-family:Arial; padding:0px; color:#444444;}
.Review .AlignRight { text-align:right; }
.Review .ReviewItem { padding-top:10px; }
.Review .ReviewItem .Title { font-size:13px; font-weight:lighter; margin-top: 10px; margin-bottom: 10px; color: #444444; padding-right: 5px; padding-left: 0px; padding-bottom: 3px; padding-top: 3px; background-color: #eaebeb; border-left: #d3d3d3 1px solid; border-bottom: #8e9fba 1px solid; border-top-width: 1px; border-top-color: #d3d3d3; border-right-width: 1px; border-right-color: #d3d3d3;}
.Review .ReviewItem .Title .Subject { padding-left:10px; font-size: 13px; font-weight:bold; color:#000000; }
.Review .ReviewItem .Text { font-weight:bold;padding-top:5px; padding-bottom:5px;}
.Review .ReviewItem .Content { margin-top:5px; margin-bottom:5px; margin-left:10px; }
.Review .ReviewItem .Content .Row { margin-top:5px;  }
.Review .ReviewItem .Content .Row .FieldStyle { font-size:12px; color:#000000; font-weight:bold; margin-bottom:5px;  }
.Review .ReviewItem .Content .Row .ValueStyle { margin-left:10px; font-size:12px; color:#000000; margin-bottom:5px; }
.Review .Paging { margin-top:5px; margin-bottom:0px; text-align:right; }
.Review .Sorting { text-align:right; padding-top:7px; }
.Review .Link { font-size:12px; text-align:left; width:40%;  }
.Review .Link A:link { color: #666666; text-decoration: underline; }
.Review .Link A:Visited { color: #666666; text-decoration: underline;  }
.Review .Link A:Hover { color: #C64E46; text-decoration: underline; }
.Review .Spacer { margin-bottom:5px; }

.Reviews{display:block;margin-bottom: 20px;}
#ctl00_ctl00_MainContent_uxProduct_Review1_lblReview{margin-bottom:20px; display: block;font-size:13px;letter-spacing:0.025em;line-height:18px;}
#ctl00_ctl00_MainContent_uxProduct_Review2_lblReview{display: block;font-size:13px;letter-spacing:0.025em;line-height:18px;}

/*************************************************/
/* Add product Review page style
/*************************************************/
.CustomerReview { margin-top: 10px;  }
.CustomerReview .Container {background-color: #EFF3F6; margin-top:10px; padding-top:10px;  padding-left: 10px; width: 98%; margin-bottom: 10px; border-right: #d0e3ec 1px solid; border-top: #d0e3ec 1px solid; border-left: #d0e3ec 1px solid; border-bottom: #d0e3ec 1px solid; }
.CustomerReview .Container .Row { padding-bottom: 10px; }
.CustomerReview .Container .Row .FieldStyle{ vertical-align:top;display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; margin-bottom: 10px; padding-right: 10px; padding-top:6px; }
.CustomerReview .Container .Row .ValueStyle{  }
.CustomerReview .Container .Row .FailureText { }
.CustomerReview .Container .Spacer { margin-bottom:5px; }

/*************************************************/
/* Highlight tool Tip style
/*************************************************/
#dhtmltooltip{
position: absolute;
left: -300px;
width: 200px;
font:Arial;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
filter:progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=120,Strength=3);}

#dhtmlframe { position: absolute; left: -300px; font:Arial; border: 0px; padding: 0px; visibility: hidden; z-index: 99;}

/*************************************************/
/*Modal Popup - product AddOn Description */
/*************************************************/
.modalPopup { background-color:#ffffff; border-width:5px; border-style:solid; border-color:black; width:350px;position:absolute;display:none;z-index:99999;	overflow:auto;}
.modalPopup .Description {margin-top:5px;margin-bottom:10px; margin-left:0px; margin-right:0px; padding-top:0px;padding-bottom:0px;padding-left:5px;padding-right:5px;text-align:justify;color: #7C7C7C;font-size: 10px;font-family: verdana; }
.modalPopup .FooterLink {text-decoration:Cursor;background-color:black;	color:White;text-align:right;padding-bottom:5px;padding-top:5px;padding-left:0px;padding-right:5px; cursor:pointer; }

/*************************************************/
/* Modal popup
/*************************************************/
.modalBackground {   background-color:gray;  filter:alpha(opacity=50); opacity:0.5; }
.PopupStyle { background-color:white; width:90%; margin:0px; padding:15px;  border:outset 2px gray; border-bottom-style:outset;	}

/**************************************************/
/* Update progress style - Quick Order page
/**************************************************/
.overlay {position: fixed;z-index: 99;top: 0px;left: 0px;background-color: #FFFFFF;width: 100%;height: 100%;filter: Alpha(Opacity=70);opacity: 0.70; -moz-opacity: 0.70; }
* html .overlay { position: absolute; height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px'); }
.loader { z-index: 100; position: fixed; width: 120px; margin-left: -60px; top: 50%; left: 50%; }
* html .loader { position: absolute; margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px'); }

/*************************************************/
/* Quick Order Page */
/*************************************************/
.QuickOrder { margin-top:10px; margin-bottom:10px;}

.QuickOrder .SearchGrid { width:100%;padding-bottom: 10px; margin-bottom:10px; }
.QuickOrder .SearchGrid .HeaderStyle {padding:4px 0px 4px 0px; font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; }
.QuickOrder .SearchGrid .RowStyle { padding:4px 0px 4px 0px; vertical-align:middle; font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.QuickOrder .SearchGrid .AlternatingRowStyle { padding:4px 0px 4px 0px; vertical-align:middle; font-weight: normal; font-size: 11px; background-color: #ffffff; }
.QuickOrder .SearchGrid .FooterStyle { background-color: #5d7b9d; }
.QuickOrder .SearchGrid .PagerStyle { font-weight: bold; font-size: 11px; color: white; padding:0px; background-color: #5d7b9d; vertical-align:middle; }

.QuickOrder .ProductSearch .FieldStyle { white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; margin-bottom: 5px; padding-right: 10px; padding-top:6px; }
.QuickOrder .ProductSearch .ValueStyle { font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }
.QuickOrder .ProductSearch .ButtonStyle { vertical-align:bottom; font-size: 11px; font-weight: normal; color: #333333; padding-bottom: 2px; padding-top: 2px; }
.QuickOrder .ProductSearch .PagingField { text-align:center;  font-weight: bold; font-size: 11px; color: white; padding:4px 0px 4px 0px; background-color: #5d7b9d; vertical-align:middle; }
.QuickOrder .ProductSearch .PagingField a {text-decoration:none; color: white; padding-right:10px; }
.QuickOrder .ProductSearch .CloseLink { text-align:right; }
.QuickOrder .ProductSearch .CloseLink a {text-decoration:none; color: #6074A6; padding-right:10px; }


.QuickOrder .Grid {width:100%;padding-bottom: 10px; margin-bottom:10px; }
.QuickOrder .Grid .HeaderStyle { font-weight: bold; font-size: 11px; color: white; background-color: #5d7b9d; }
.QuickOrder .Grid .HeaderStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .RowStyle { vertical-align:middle; font-weight: normal; font-size: 11px; color: #333333; background-color: #F7F6F3; }
.QuickOrder .Grid .RowStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .AlternatingRowStyle { vertical-align:middle; font-weight: normal; font-size: 11px; background-color: #ffffff; }
.QuickOrder .Grid .AlternatingRowStyle td { padding:4px 0px 4px 2px; }
.QuickOrder .Grid .FooterStyle { }
.QuickOrder .Grid td { border-bottom: #5d7b9d 1px solid; vertical-align:middle;}
.QuickOrder .Grid a{text-decoration:none;color:#003399;}
.QuickOrder .Grid a:link{text-decoration:none;color:#003399;}
.QuickOrder .Grid a:hover{text-decoration:underline;color:#F60}
.QuickOrder .Grid a:visited{text-decoration:none;color:#003399;}
.QuickOrder .Grid .ProductName { font-size:11px; }
.QuickOrder .Grid .ProductStyle { font-size:11px; }
.QuickOrder .Grid .EditLink { margin:0px; margin-left:5px; vertical-align:middle; text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Link{ text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Hover{ text-decoration:underline; }
.QuickOrder .Grid .EditLink A:Visited{ text-decoration:underline; }
.QuickOrder .Grid .Attributes { }
.QuickOrder .Grid .Attributes .FieldStyle { font-size:10px; font-weight:bold; }
.QuickOrder .Grid .Attributes .ValueStyle { font-size:11px; margin-bottom:3px; }
.QuickOrder .Grid .Price { font-size:11px; margin:0px; }
.QuickOrder .SubmitButton { margin:0px; margin-bottom:15px; }
.QuickOrder .HintText { font-size:11px; margin-left:0px; margin-bottom:10px; margin-top:5px; }
.QuickOrder .TotalBox .CartTotals { margin-bottom: 10px; text-align: right; font-weight:bold; padding-right:12px; }
.QuickOrder .TotalBox .AddToCartButton { text-align:right;}
.QuickOrder .ProductDetail { width:100%; }
.QuickOrder .ProductDetail .OuterBorder { margin-top: 0px; margin-bottom: 20px; margin-left:5px; font-size: 8pt; border: #eff3f6 5px solid; vertical-align:top; padding:10px;}
.QuickOrder .ProductDetail .UpdateProgress {color:Black; background-color:#FAFEFE;padding:1px; padding-left:2px; margin-top:5px; border:1px solid #8ADAD8;width:90px; text-align:center;}
.QuickOrder .AttributeGrid .SizeGrid {background-color:#FAFEFE; width:auto; margin: 0px 0px 0px 0px; padding:1px;border-bottom:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .Title {letter-spacing:1px; background-color:#6175A6;color:white; border-bottom: solid 1px #6175A6;font: bold 11px Arial;padding-left:10px;padding-top:3px;padding-bottom:3px;}
.QuickOrder .AttributeGrid .SizeGrid .Legend {color: #7777a4;padding: 0px; margin: 0px;border-top: solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .inStock { color: #7777a4; }
.QuickOrder .AttributeGrid .SizeGrid .outOfStock { color: #7777a4; }
.QuickOrder .AttributeGrid .SizeGrid .HeaderStyle { color:#7777a4;font-weight:normal;background-color:#FAFEFE;padding:0px;border-bottom: solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .LeftColStyle {color:#7777a4;font-weight:normal;background-color:#FAFEFE;padding:3px;text-align:right;border-left:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .RowStyle { padding: 0px; background-color:#EAF6F6;color:#0F9B97;}
.QuickOrder .AttributeGrid .SizeGrid .RowStyle .HeaderStyle { border-bottom: none; border-right: none; }
.QuickOrder .AttributeGrid .SizeGrid td { border-right:solid 1px #ACBEF6;}
.QuickOrder .AttributeGrid .SizeGrid .HeaderStyle { text-align: center; width: 25px; }
.QuickOrder .AttributeGrid .SizeGrid .Header { width: 25px; }


/**************************************************/
/* RESET PASSWORD PAGE
/**************************************************/
.ResetPasswordForm { margin-bottom:10px;}
.ResetPasswordForm .LabelStyle { display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; padding:0px; padding-top:5px; padding-bottom:25px; padding-right:10px; }
.ResetPasswordForm .FieldStyle { display: block; white-space: nowrap; font-size: 11px; font-weight: bold; color: #4b4b4b; text-align: right; padding:0px; padding-top:5px; padding-bottom:15px; padding-right:10px; }
.ResetPasswordForm .ValueStyle { font-size: 11px; font-weight: normal; color: #333333; padding-bottom:10px;}

/************************************************/
/*Highlight Information
/************************************************/
.HighlightInfo { margin-bottom:50px; }
.HighlightInfo .Description { margin-top:10px; }
.HighlightInfo .DetailLink { margin-top:20px; margin-bottom: 5px; font-size: 11px; font-weight: bold; color:#7c7c7c; }
.HighlightInfo .DetailLink A:link { color:#7c7c7c; font-size:11px; font-family:Sans-Serif; text-decoration: underline; }
.HighlightInfo .DetailLink A:Visited { color:#7c7c7c; font-size:11px; font-family:Sans-Serif; text-decoration: underline;  }
.HighlightInfo .DetailLink A:Hover { color:#7c7c7c; font-size:11px; font-family:Sans-Serif; text-decoration: underline;} 

/**************************************************/
/* CONTENT TEMPALTE                                 
/**************************************************/
#content_header{width:673px; float:left; padding-top: 20px;}
#content_title{float:left;width:464px;}
#cart_btn {float:left;width:209px;}             
#cart_btn a{float:right; margin-top:19px; font-weight:bold; text-decoration:none; display:block; text-indent:-999999em; background: url(Images/ViewCart.gif) no-repeat 0 0; width:87px; height:17px; outline: 0;}
#cart_btn_full {float:left;width:673px;}   
#cart_btn_full a{float:right;font-weight:bold; text-decoration:none; display:block; text-indent:-999999em; background: url(Images/ViewCart.gif) no-repeat 0 0; width:87px; height:17px; outline: 0; margin-bottom:20px;}
.content_title {float:left; margin-bottom:20px; width:673px;}


/**************************************************/
/* SHOP BY USE TYPE                                 
/**************************************************/
#shop_user_type{width:673px; float: left; margin-bottom:20px; padding-bottom:20px; border-bottom: solid 1px #CCCCCC;}
#shop_user_type .left_column{width:247px; float:left;padding-left:75px;}
#shop_user_type .right_column{width:247px; float:left; padding-left:75px;}

/**************************************************/
/* FEATURED CALLOUT                                 
/**************************************************/

#featured_callout{float:left;}

/**************************************************/
/* TABLE STYLES                          
/**************************************************/

.ctl00_MainContent_dgMultipleAssesment td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:12px;
    }
      
.ctl00_MainContent_dgMultipleAssesment .tr_odd td,#ctl00_MainContent_dgMultipleAssesment .tr_even td
{
    font-size: 12px;
    } 
.tr_odd
{
    background: #F2F2F2;
    }    
/**************************************************/
/* TEAS STYLES                          
/**************************************************/

#ctl00_MainContent_swplistboxInstitutions_tdLeftTitle, #ctl00_MainContent_swplistboxInstitutions_tdRightTitle
{
    color:#474544;
    font-size:13px;
    letter-spacing:0.025em;
    line-height:18px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 465px;
    }
    
#ctl00_MainContent_tblSentTEAS
{
    color:#474544;
    font-size:13px;
    letter-spacing:0.025em;
    line-height:18px;
    padding-top: 10px;
    padding-bottom: 5px;
    }    


#ctl00_MainContent_thTEASheader
{
    padding-left: 5px;
    padding-right: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c64e46;
    }

#ctl00_MainContent_thTEASheader p
{
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    }
    
#ctl00_MainContent_tblSentTEAS
{
    width: 950px;
    background: #ffffff;
    }    
    
#ctl00_MainContent_tblSentTEAS td
{
    padding: 5px;
    }    
    
#ctl00_MainContent_tblSentTEAS th
{
    display: block;
    width: 100%;
    }
 
#ctl00_MainContent_trSentTEAS td
{
    padding-left: 5px;
    padding-right: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
    }   
    
#teas_select_list select
{
    border: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    }    

#teas_select_list table
{
    width: 930px;
    margin-left: 10px;
    }

#teas_select_list table td
{
   width: inherit;
   padding: 10px;
    }

#teas_select_list 
{
    margin-top: 10px;
    background: #F2F2F2;
    border: solid 1px #CCCCCC;

    }     
 
#teas_select_list tr
{
    padding: 10px;
    }    

#teas_select_list p
{
    padding-left: 10px;
    }

#teas_select_list tr, #ctl00_MainContent_swplistboxInstitutions_tdLeftTitle
{

    }    
    
#ctl00_MainContent_swplistboxInstitutions_tdRightTitle 
{
    float: left;
    display: block;

    }
    
#ctl00_MainContent_swplistboxInstitutions_divLeftList 
{
    outline: none;
    border: none;
    display: block;
    }
    
 #ctl00_MainContent_swplistboxInstitutions_divRightList 
 {
    outline: none;
    border: none;
    display: block;
     }  

#ctl00_MainContent_tableECom
{

    }

#ctl00_MainContent_tableInstitutions
{
    margin-bottom: 20px;
    }
       
#ctl00_MainContent_tableECom td, #ctl00_MainContent_tableInstitutions td
{
    padding-right: 10px;
    padding-top: 5px;
    }
    
#ctl00_MainContent_tableECom p, #ctl00_MainContent_tableInstitutions p
{
    font-size: 12px;
    }    
    
.header-nav-text a, .header-nav-text
{
    color: #ffffff;
    }
#ctl00_ctl00_MainContent_uxProduct_ProductDescription ul, #ctl00_ctl00_MainContent_uxProduct_ProductDescription ol
{
    margin:0 0 12px 0; padding-left:20px; list-style-type:disc;
}

#ctl00_ctl00_MainContent_uxProduct_ProductDescription li ul, #ctl00_ctl00_MainContent_uxProduct_ProductDescription li ol {margin:0;}
